<div id = "Nondevoured">
<h1>Eat a burger!</h1>
<p>Click Devour! to eat!</p>
{{#each burger}}
{{#unless devour}}
<form action="/api/burgers/{{this.id}}" method="Put">
<p>{{this.burger_name}}</p>
<button type="submit">Devour!</button>
</form>
{{/each}}
{{/unless}}
<br><br>
</div>

<div id="devoured">
    <h1>Burgers you've devoured!</h1>
    {{#each burger}}
    {{#if devour}}
    <button>{{this.burger_name}}</button>
    {{/each}}
    {{/if}} 
</div>

